html {
  scroll-behavior: smooth;
}

:root {
  --headerfooter: cornflowerblue;
  --icons: coral;
  --navtext: ghostwhite;
  --bgcolor: ghostwhite;
}

body, #root {
  width: 100%; 
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgcolor);
}

h1 {
  text-align: center;
  font-size: 1.3rem;
 }
 h2 {
   text-align: center;
   font-size: 1rem;
 }

#header-div {
  width: 100%;
  height: 50px;
  background-color: var(--headerfooter);
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav {
  width: 100%; 
  display: flex;
  justify-content: end; 
}

#nav-cv {
  width: 100%;
}

#nav>a, #nav-cv>a {
  color: var(--navtext);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
}

#nav>a:hover, #nav-cv>a:hover {
  color: var(--icons);
}

#nav-cv>a {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#hamburger-column {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hamburger-icon {
  color: var(--navtext);
  font-size: 2.5rem;
}

.hamburger-icon:hover {
  color: var(--icons)
}

#hamburger-menu-options>a {
  color: var(--icons);
  font-size: 1.3rem;
  margin: 10px;
  border-bottom: 1px solid var(--icons);
  text-decoration: none;
}

#hamburger-menu-options>a:hover {
  color: var(--navtext);
}

#about-div {
  min-height: calc(100vh - 110px);
}

#about-div, #contact-one {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  scroll-margin-top: 50px;
}

#image-container {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-container>img {
  min-width: 200px;
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 8px 8px coral;
  object-fit: cover;
}

#image-container>p {
  text-align: center;
  width: 80%;
}

#tech-icon-labels-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 3px;
  width: 80%;
}

.tech-icon-labels {
  font-size: 1.1rem;
  color: black;
  background-color: var(--icons);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tech-icon-labels:hover {
  animation-name: bounce;
  animation-duration: 0.5s;
}

@keyframes bounce {
0% {transform: translateY(0);}
50% {transform: translateY(-5px);}
100% {transform: translateY(0);}
}


hr {
  margin-top: 40px;
  width: 50%;
}

#projects-one {
  scroll-margin-top: 50px; 
  text-align: center;
  width: 100%;
}

#projects-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.individual-project>p {
  max-width: 300px;
}

.project-image {
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 0 8px 8px coral;
}

.individual-project>p:first-of-type {
  margin-bottom: 0;
}

#contact-one {
  height: 700px;
}

#contact-two {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#contact-left>h2 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.contact-icon-text {
  width: fit-content;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  height: 30px;
}

#contact-right {
  margin-top: -106px; /*to delete when form is available*/
  width: 250px;
}

.contact-label-input {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.contact-label-input>label {
  font-size: 1rem;
  width: 30%;
  margin: auto;
}

.contact-label-input>input, #message {
  font-size: 1rem;
  width: 70%;
}

#message-label {
  margin-top: 3px;
}

#form-submit-button {
  margin: 5px 0 5px 30%;
} 

/*START to delete when form is available*/
#form-coming-soon {
  border: 2px solid red;
  margin-top: 25px;
  margin-bottom: 5px;  
}

#form-coming-soon>p {
  font-size: 2.1rem;
  color: red;
  background-color: transparent;
  position: relative;
  top: 80px;
  rotate: -50deg;
} 
/*END to delete when form is available*/

#footer-div {
  width: 100%;
  height: 50px;
  background-color: var(--headerfooter);
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#footer-div>p {
  display: none;
  color: var(--navtext);
  font-weight: bold;
  font-size: 1.2rem;
}

#footer-div>a {
  color: var(--icons);
  font-size: 2.5rem;
  padding-top: 5px;
}

#footer-div>a:hover {
  color: var(--navtext);
}

@media (min-width: 768px) {
  #about-div {
    width: 640px;
  }
  h1 {
    font-size: 2rem;
  }
  p, h2, h3, h4, label {
    font-size: 1.4rem;
  }
  li {
    font-size: 1.2rem;
  }
  #image-container {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  #image-container>img {
    width: 400px;
    height: 500px
  }
  #image-container>p {
    margin-bottom: -60px;
  }
  .project-image {
    width: 600px;
    height: 330px;
  }
  .individual-project>p {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  #about-div, #projects-one {
    width: 768px;
  }
  #about-div>h1 {
    width: 100%;
  }
  h1 {
    font-size: 1.8rem;
  }
  #nav {
    display: flex;
    flex-direction: row;
    margin-left: 60%;
    margin-right: 10%;
    justify-content: space-evenly;
    gap: 10%;
  }
  #image-container {
    margin-top: 10px;
    min-height: 200px;
    flex-direction: row;
    gap: 50px;
  }
  #image-container>p {
    margin-top: -10%;
    width: 20%;
  }
  #about-div>#tech-icon-labels-holder {
    margin-top: -50px;
    width: 60%;
  }
  .project-image:hover {
    transform: scale(1.05)
  }
  #contact-left>h2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #footer-div>p {
    display: contents;
  }
}

@media (min-width: 1280px) {
  #about-div, #projects-one {
  width: 1024px;
  }
  .project-image {
    width: 800px;
    height: 420px;
    /* OIAHEGALDHGLADG */
    
  }
}

@media (min-width: 1536px) {
  #about-div {
    max-width: 1280px;  
  }
  h1 {
    font-size: 2.5rem;
  }
  p, h2, h3, h4, label {
    font-size: 1.5rem;
  }
  li {
    font-size: 1.2rem;
  }
}

#cv-one {
  width: 100%;
  min-height: calc(100vh - 110px);
  padding-bottom: 125px;
}

#cv-intro {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; 
}

#education-navigator, #languages-navigator, #experience-navigator, #other-navigator {
  scroll-margin-top: 50px;
}

.cv-section {
  display: grid;
  grid-template-columns: 180px 80px 35px;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px;
  height: 60px;
  margin: 0px auto 10px auto;
  border-bottom: 1px solid black; 
}

#final-showless {
  width: fit-content;
  margin: 20px auto 20px auto;
  text-decoration: underline;
}

.cv-section:hover, #final-showless:hover {
  color: var(--icons);
}

.cv-section>h2 {
  grid-column: 1;
  height: 50%;
  text-align: left;
}

.cv-section>p {
  grid-column: 2;
  text-align: right;
  height: 50%;
  margin: 0;
}

.cv-section>a {
  grid-column: 3;
  height: 50%;
  font-size: 3rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cert-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cert-container>h3 {
  width: 60%;
  text-align: center;
  margin: 30px auto 10px auto;
}

.coding-certs {
  width: 270px;
}
.coding-certs:hover {
  width: 290px;
  border: 3px solid var(--icons);
}


.school-container {
  width: 90%;
  max-width: 600px;
  margin: 30px auto 30px auto;
}

.school-container>h4 {
  margin-top: -10px;
}

.school-container>p {
  margin-top: -10px;
}

.language-container {
  width: 90%;
  margin: 30px auto 30px auto;
}

.flag-language-div {
  display: grid;
  grid-template-columns: 80px 190px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flag-language-div>Flag{
  grid-column: 1;
}
.flag-language-div>h3 {
  grid-column: 2;
}

.experience-container {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.experience-container>h4 {
  margin-top: -15px;
}

.experience-container>hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.other-container {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#surf-pic {
  width: 80%;
  box-shadow: 0 0 8px 8px coral;
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: 30px auto 30px auto;  
}

@media (min-width: 768px) {
  .cv-section {
    grid-template-columns: 350px 100px 35px;
  }
  .cv-section>h2, .cv-section>p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .cv-section {
    grid-template-columns: 450px 100px 35px;
  }
}